In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
#List of dictionaries
# Convert a list of dictionaries into a dataframe
ShopFrame = [{"Frame": "Ornate", "Price": "15.0", "Sales": "100"},
             {"Frame": "Classical", "Price": "12.5", "Sales": "200"},
             {"Frame": "Modern", "Price": "10.0", "Sales": "150"},
             {"Frame": "Wood", "Price": "5.0", "Sales": "300"},
             {"Frame": "Cardboard", "Price": "1.0", "Sales": "N/A"}]
                #{} indicates dictionaries, [] indicates a list - so this is a list of dictionaries

states_df = pd.DataFrame(ShopFrame)
states_df
#pd indicates running in pandas, DataFrame indicates as a Data Frame, (states_dicts) = the list it's pulling from
#Bottom states_df runs states_df which holds the pd.DataFrame function for the list of dictionaries ShopFrame

       Frame Price Sales
0     Ornate  15.0   100
1  Classical  12.5   200
2     Modern  10.0   150
3       Wood   5.0   300
4  Cardboard   1.0   N/A

In [4]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data
#Dictionary of lists
# Convert a single dictionary containing lists into a dataframe
artGallery = pd.DataFrame(
    {"Painting": ["Mona Lisa (Knockoff)","Van Gogh (Knockoff)","Starving Artist","Toddler Drawing"],
     "Price": ["Very Popular","Popular","Average","Not Popular"],
     "Popularity": ["25","20","10","1"]
     }
)
#Each key (Dynasty and Pharaoh) indicate a column header - the lists within the keys (in the dictionary) is the input for the table

artGallery

               Painting         Price Popularity
0  Mona Lisa (Knockoff)  Very Popular         25
1   Van Gogh (Knockoff)       Popular         20
2       Starving Artist       Average         10
3       Toddler Drawing   Not Popular          1

In [6]:
artGallery[["Painting", "Popularity"]].head()
#Double brackets displays as a table/list
#artGallery is the list name - .head() pulls the data specified in the double brackets

               Painting Popularity
0  Mona Lisa (Knockoff)         25
1   Van Gogh (Knockoff)         20
2       Starving Artist         10
3       Toddler Drawing          1