In [4]:
# Dependencies
import pandas as pd
#imports pandas and sets it as pd for easier typing

In [5]:
# We can create a Pandas Series from a raw list
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [7]:
#List of dictionaries
# Convert a list of dictionaries into a dataframe
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"},
                {"STATE": "Kansas", "ABBREVIATION": "KS"}]
#{} indicates dictionaries, [] indicates a list - so this is a list of dictionaries

states_df = pd.DataFrame(states_dicts)
states_df
#pd indicates running in pandas, DataFrame indicates as a Data Frame, (states_dicts) = the list it's pulling from
#Bottom states_df runs the states_df command

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY
2      Kansas           KS

In [8]:
#Dictionary of lists
# Convert a single dictionary containing lists into a dataframe
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)
#Each key (Dynasty and Pharaoh) indicate a column header - the lists within the keys (in the dictionary) is the input for the table

pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis